{% extends "base.html" %}

{% block content %}

<section class="pt-1 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-2 blur shadow-blur">
        <div class="row-cols-1">
          <div class="col-md-11 position-relative">
            <div class="p-3">
            <h5 class="mt-3">{{ newspaper.content}} </h5>
              <a href="#" class="text-dark font-weight-bolder mb-lg-4 mb-3">Topic: {{ newspaper.topic }}</a><br>

              {% if newspaper.redactors.all %}

                {% for redactor in newspaper.redactors.all %}
                <a href="#" class="text-dark font-weight-bolder mb-lg-4 mb-3">Redactor: {{ redactor.username }}</a>
                {% endfor %}
              {% else %}
                <p class="text-dark font-weight-bolder mb-lg-4 mb-3">No Redactors</p>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>


</section>
{% endblock %}

