{% extends "base.html" %}

{% block content %}
{% if topic_list %}

  <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

  {% for topic in topic_list %}
        <tr>
          <td>
              {{ topic.id }}
          </td>
          <td>
              {{ topic.name }}
          </td>
          <td>
              <a href="#">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="#">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
{% endif %}
  </table>

{% endblock %}


