{% extends "base.html" %}

{% block content %}

  <section>
    <div class="container py-4">
      <div class="row">
      <div class="col-lg-5 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
          <h3 class="text-center">Create topic</h3>
          <form role="form" id="contact-form" method="post" novalidate autocomplete="off">
            {% csrf_token %}
            <div class="card-body d-flex justify-content-center align-items-center flex-column">
              <div class="mb-4">
                <div class="input-group mb-3"> {{ form.as_p }} </div>

                <div class="input-group">
                  <input type="submit" class="btn bg-gradient-dark w-100" placeholder="" value="save topic" >
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-check form-switch mb-4">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                    <label class="form-check-label" for="flexSwitchCheckDefault">I agree to the <a href="#" class="text-dark"><u>Terms and Conditions</u></a>.</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
