{% extends "base.html" %}

{% block content %}
  <section class="pt-1 pb-4" id="count-stats">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-2 blur shadow-blur">
          {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
          {% endif %}

          <h1>Login</h1>

          {% if next %}
            <p>Please login to see this page.</p>
          {% endif %}

          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form }}

            <input type="submit" value="Login" class="btn btn-transparent" />
            <input type="hidden" name="next" value="{{ next }}" />
          </form>

          <div class="d-flex justify-content-evenly">
            <a href="{% url 'agency:redactors-create' %}" class="btn btn-transparent">Create new redactor</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
